.home{
    background: url(./backgrounds/h_img.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.services{
    background: url(./backgrounds/s_image.jpg);
    background-size: cover;
    


.contacts{
    background: url(./backgrounds/c_image.jpg);
    background-size: cover;
}



input .transparent-input{
    background-color:rgba(0,0,0,0)!important;
    border: 2px solid wheat !important;
 

}