#home{
    background: url(/assets/backgrounds/h_img.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#services{
    background: url(/assets/backgrounds/s_image.jpg);
    background-size: cover;
    
}

#contacts{
    background: url(/assets/backgrounds/c_image.jpg);
    background-size: cover;
}


.flipcard {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}
.flipcard img {
    width: 300px;
    height: auto;
}
.flipcard .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}